.grad{ 
  border-radius: 20px;
  width: 70%;
  height: 400px;
  margin: 75px auto;
  background: linear-gradient(90deg,maroon,silver);
}
.rep{ 
border-radius: 20px;
width: 70%;
height: 400px;
margin:  75px auto;
background: repeating-linear-gradient(
  45deg,
  red 0px,
  yellow 50px,
  yellow 65px,
  green 90px,
  green 100px,
  blue 100px,
  blue 110px,
  indigo 150px,
  violet 200px
);
}