.grad{ 
  border-radius: 20px;
  width: 70%;
  height: 400px;
  margin: 75px auto;
  background: linear-gradient(90deg,maroon,silver);
}

.grad:hover {
  background: linear-gradient(90deg,silver, maroon);
  transform: scale(1.1);
}

.rep{ 
border-radius: 20px;
width: 70%;
height: 400px;
margin:  75px auto;
background: repeating-linear-gradient(
  60deg,
  #fff 00px,
  red 15px,
  orange 35px,
  yellow 65px,
  green 95px,
  green 110px,
  blue 110px,
  blue 130px,
  indigo 160px,
  violet 200px,
  #fff 225px
);
}

.rep:hover {
  transform: scale(.9);
}